<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="conn" connectionString="Data Source=.;Initial Catalog=Demo;User ID=sa" providerName="System.Data.SqlClient"/>-->
    <add name="conn" connectionString="Data Source=.;Initial Catalog=Demo;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>